# Variable de conexión a PostgreSQL (Supabase, Neon, Render o local)
# En Render, se configura en la sección 'Environment Variables'
DATABASE_URL=postgresql://postgres.xxxx:tu_password@aws-0-us-east-1.pooler.supabase.com:6543/postgres

# Puerto local opcional (Render asigna PORT automáticamente)
PORT=8000
